[Unit]
Description=Energy Monitor
After=network.target

[Service]
ExecStart=/home/pi/myhome/s.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/myhome/

[Install]
WantedBy=multi-user.target
